body, div, p, textarea, pre, ul, ol, li, blockquote, hr,
table, tbody, thead, tr, td, th,
h1, h2, h3, h4, h5, a, button, input {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    list-style: none;
    text-decoration: none;
}

strong {
    font-weight: 600;
}
em {
    font-style: italic;
    color: #555;
}

* {
    line-height: 1.5;
}

a {
    white-space: normal;
    cursor: pointer;
}

body {
    font-family: Open Sans, BlinkMacSystemFont, -apple-system, Helvetica Neue, Ubuntu, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background: #fff;
    color: #000;
    font-size: 16px;
    min-height: calc(100vh - 2em);
}

p {
    margin: 0.75em 0;
}

body {
    margin: 1.5em auto 6em;
    padding: 0 2em;
    max-width: 72em;
    position: relative;
}

/*****************************************************************************/

.emojione {
  width: 1.25em;
  height: 1.25em;
  line-height: 0.8em;
}

.prose {
    font-size: 1rem;
    max-width: 36em;
    font-weight: normal;
    margin: 0 auto;
}

.prose a {
    color: #3786e3;
    text-decoration: none;
    border-bottom: 1px solid #3786e3;
}

.prose h1 {
    font-weight: 300;
    font-size: 2rem;
}
.prose h2 {
    font-weight: 500;
    font-size: 1.5em;
    margin: 1.333em 0 0;
    border-top: 2px solid #ddd;
    padding-top: 0.666em;
}
.prose h3 {
    font-weight: 600;
    font-size: 1.25em;
    margin: 2em 0 0;
}

.prose pre, .prose code {
    border-radius: 0.25em;
    background: #f8f8f8;
    font-size: 0.875em;
    line-height: 1.5em;
    font-family: Menlo, monospace;
}
.prose pre {
    max-width: 100%;
    white-space: pre-wrap;
    margin: 1.09375em 0; /* 0.875em */
    overflow: hidden;
    padding: 0.25em 0.5em;
}
.prose code {
    padding: 0.125em;
}
.prose pre code {
    display: block;
    white-space: pre-wrap;
    border: none;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    font-size: inherit;
    line-height: inherit;
}

.prose > p {
  margin: 1.5em 0;
}

.prose > ul, .prose ol {
    margin: 1.5em 0;
}
.prose ul, .prose ol {
    padding-left: 1.875em;
    position: relative;
}
.prose ul > li {
    list-style: square;
}

.prose ol > li {
    list-style: none;
    counter-increment: step-count;
}
.prose ol > li:before {
    content: counter(step-count);
    font-weight: 500;
    /* border-bottom: 2px solid #555; */
    display: inline-block;
    position: absolute;
    left: 0.5em;
}

.prose img,
.prose video {
    max-width: 100%;
    object-fit: scale-down;
    height: auto;
}

.prose blockquote {
    margin: 1.5em 0;
    border-left: 0.25em solid #555;
    padding-left: 1em;
    color: #222;
}

/*****************************************************************************/

/* print */

@media print {
    body {
        max-width: 100%;
        font-size: 12pt;
    }

    .prose a {
      border-bottom: none;
    }

    .prose {
        margin: 0 auto;
    }

    nav {
        display: none;
    }

    pre, blockquote {
        padding-right: 1em;
        page-break-inside: avoid;
    }

    tr, img {
        page-break-inside: avoid;
    }

    @page {
        margin: 20mm 15mm 20mm 15mm;
    }

    /*
    @page :left {
    margin: 15mm 20mm 15mm 10mm;
    }
    @page :right {
    margin: 15mm 10mm 15mm 20mm;
    }
    */

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }

    .prose pre {
        border-left: 2px solid #ccc;
        padding-left: 0.75em;
        border-radius: 0;
        page-break-after: avoid;
    }
}

/*****************************************************************************/

/* sidebar */

nav {
    margin: -0.5em -2em;
    border-bottom: 1px solid #aaa;
    margin-bottom: 1.5em;
    color: #364149;
}
nav ul {
    padding: 0;
    margin: 0;
}

nav a {
    color: inherit;
    text-decoration: none;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.375em 2em;
    white-space: nowrap;
}
.title a {
    font-size: 2rem;
    padding: 0 1em;
    font-weight: 300;
}

.page {
    display: block;
}

.page-title-active,
.page-heading-active {
    color: #3786e3;
}

.page-heading {
    display: block;
    padding-left: 1.5em;
}


@media screen and (min-width: 36rem) {
    body.has-nav {
        margin-left: 12rem;
    }
    nav {
        margin: 0;
        position: fixed;
        width: 12rem;
        left: 0;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        font-size: 0.875em;
        border-right: 1px solid #aaa;
        background: #fafafa;
        border-bottom: 0;
    }
    nav a {
        padding: 0.375em 1em;
    }
    .title a {
        padding: 0.75em 0.5em 0.625em;
    }

    nav > ul {
        position: relative;
        min-height: 100vh;
        padding-bottom: 6em;
        box-sizing: border-box;
    }
    
    .page-as-pdf {
        position: absolute;
        bottom: 3em;
    }

    .logo {
        position: absolute;
        bottom: 1em;
        display: block;
        background: url("data:image/svg+xml,<svg viewBox='10 0 38 7' xmlns='http://www.w3.org/2000/svg'><path fill='%233786e3' d='M17 3h-1V1h1zM18 5h-1V3h1zM20 5h-1V3h1zM21 3h-1V1h1zM11 5h2v1h-3V1h1zM25 2h-2v1h2v1h-2v1h2v1h-3V1h3zM14 6V1h1v5zM18 5h1v1h-1z'/><path d='M42 2h-2v1h2v1h-2v1h2v1h-3V1h3zM30 5V1h1v4zM28 5V2h1v3zM32 6V1h1v5zM43 2h1v1h-1zM44 3h2v1h-2zM43 5h3v1h-3zM44 1h3v1h-3zM46 4h1v1h-1zM26 5V1h1v4zM27 5h1v1h-1zM29 5h1v1h-1zM34 6V1h3v1h-2v1h2v2h-1V4h-1v2zM37 5h1v1h-1zM37 2h1v1h-1z'/></svg>") 100% 0 no-repeat;
        margin: 0.5em 1em 0;
        /* padding-bottom: 17.2%; */
        height: 14px;
        width: 76px;
    }
    .logo span {
        display: none;
    }
}

/*****************************************************************************/

/* highlight.js github gist theme */

.hljs { display: block; background: white; padding: 0.5em; color: #333333; overflow-x: auto; } .hljs-comment, .hljs-meta { color: #969896; } .hljs-string, .hljs-variable, .hljs-template-variable, .hljs-strong, .hljs-emphasis, .hljs-quote { color: #df5000; } .hljs-keyword, .hljs-selector-tag, .hljs-type { color: #a71d5d; } .hljs-literal, .hljs-symbol, .hljs-bullet, .hljs-attribute { color: #0086b3; } .hljs-section, .hljs-name { color: #63a35c; } .hljs-tag { color: #333333; } .hljs-title, .hljs-attr, .hljs-selector-id, .hljs-selector-class, .hljs-selector-attr, .hljs-selector-pseudo { color: #795da3; } .hljs-addition { color: #55a532; background-color: #eaffea; } .hljs-deletion { color: #bd2c00; background-color: #ffecec; } .hljs-link { text-decoration: underline; }

